.card-img {
  border-radius: 10px;
  width: 350px;
}

.card-detail {
  display: flex;
  justify-content: center;
}

.detail-container {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  gap: 75px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 50px;
}

.detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
