.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 150px;
  gap: 30px;
  flex-direction: column;
}

h1 {
}

.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 500px;
  height: 250px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
button {
  width: 100px;
  height: 50px;
  margin: 0 10px;
  border: 0;
}
