.paginado {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 100%;
  border: 0;
  background-color: white;
  cursor: pointer;
}

.max-page {
  text-align: center;
  height: 25px;
}

.current-page {
  width: 30px;
  height: 25px;
  text-align: center;
  border: none;
  border-radius: 3px;
  color: #3a6ea7;
}
